body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 420px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #333;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    margin-bottom: 15px;
    color: #444;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.note {
    text-align: center;
    font-size: 13px;
    color: #666;
    margin-top: 15px;
}


/*  */
.success-box {
    width: 420px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.checkmark {
    font-size: 50px;
    color: #28a745;
    margin-bottom: 10px;
}

.success-box h2 {
    color: #333;
    margin-bottom: 10px;
}

.queue {
    margin: 20px 0;
    font-size: 18px;
    color: #555;
}

.queue span {
    display: block;
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
}

.note {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}
